google-api-python-client
pyyaml
py2neo
shodan
pygithub
kubernetes
dnspython
tld
rich
requests
google-cloud-secret-manager==2.5.0
validators
concoursepy
pycircleci
python3-nmap
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability