google-api-python-client
pyyaml
py2neo
shodan
pygithub
kubernetes
dnspython
tld
rich
requests
google-cloud-secret-manager==2.5.0
validators
concoursepy
pycircleci
python3-nmap
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid vulnerabilities
protobuf>=5.29.6 # not directly required, pinned by Snyk to avoid a vulnerability
pyasn1>=0.6.2 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.6.3 # not directly required, pinned by Snyk to avoid a vulnerability
filelock>=3.20.3 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
pillow>=12.3.0 # not directly required, pinned by Snyk to avoid a vulnerability
